<h1>Welcome to BManager</h1>
<h3>Please Sign Up</h3>
<form action="/users" method="post">
  Enter Email: <input type="text" name="email"/>
  Enter Password: <input type="password" name="password"/>
  Renter Password: <input type="password" name="password_confirmation"/>
  <input type="submit" value="Sign Up"/>
</form>
